<mat-toolbar class="navbar">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span class="title">{{ title }}</span> -->
    <span fxHide class="title"><img src="assets/icons/logo.svg" alt="" /></span>
  </div>
  <div fxHide.lt-md>
    <!-- <a class="brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a> -->
    <span class="title"><img src="assets/icons/logo.svg" alt="" class="img-fluid" /></span>
  </div>
  <div class="searchbar ml-3">
    <form class="nosubmit">
      <input class="nosubmit" type="search" placeholder="Search models" />
    </form>
  </div>
  <span fxFlex></span>
  <div fxHide.lt-md class="header-btns">
    <!-- <a class="brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a> -->

    <button mat-button routerLink="/models" routerLinkActive="active">
      <!-- <mat-icon>home</mat-icon> -->
      <span translate>Explore</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <!-- <mat-icon>info</mat-icon> -->
      <span translate>Edge Docs</span>
    </button>
    <button mat-button routerLinkActive="active">
      <!-- <mat-icon>info</mat-icon> -->
      <span translate>Resources</span>
    </button>
    <button mat-button routerLinkActive="active">
      <!-- <mat-icon>info</mat-icon> -->
      <span translate>Create</span>
    </button>
  </div>
  <!-- <app-language-selector [icon]="true"></app-language-selector> -->
  <!-- <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button> -->
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <!-- <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu> -->
</mat-toolbar>
